* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--bg-body: hsl(257, 40%, 49%);	
	--btn-hover: hsl(300, 69%, 71%);
}
body {
	background-image: url(../images/bg-mobile.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: var(--bg-body);
	padding: 3rem;
}

.logo {
	display: block;
	width:  40%;
}

